
<a href="#homeLink" id="openMobileMenu" class="mobile-menu-trigger-label" onclick="$('#mobile-menu-trigger').click();" title="open or close mobile menu"></a>
  <input class="mobile-menu-trigger" type="checkbox" id="mobile-menu-trigger" name="mobile-menu-trigger" />
  <div class="body-div">
    <div class="_header-container" id="header-container">
      <div class="_trm">
        <div class="_inner">
          <a class="_search" href="javascript:void(0)" title="搜索網站" tabindex="0" role="button"><em class="far fa-search"></em></a>
          <div class="_aaa">
            <ul>
              <li class="_aaa-s">
                <a href="javascript:void(0)" title="字體小">
                  <img src="/image/font_s.png" alt="字體小"/>
                </a>
              </li>
              <li class="_aaa-m">
                <a href="javascript:void(0)" title="字體中">
                  <img src="/image/font_m.png" alt="字體中"/>
                </a>
              </li>
              <li class="_aaa-l">
                <a href="javascript:void(0)" title="字體大">
                  <img src="/image/font_l.png" alt="字體大"/>
                </a>
              </li>
            </ul>
          </div>
<!--          <a class="_en-hk" href="javascript:_changeLang('en-hk')">Eng</a>-->
<!--          <a class="_zh-hk" href="javascript:_changeLang('zh-cn')">简体</a>-->

          <!-- 原来四块删掉，换成这一块 -->
          <div
                  class="_single-icon"
                  v-for="(iconName, index) in iconOrder"
                  :key="iconName"
                  :class="getIconClass(index)"
          >
            <a :href="getIconUrl(index)" target="_blank" tabindex="0" role="button">
              <img
                      class="_img"
                      :src="getIconSrc(index)"
                      :alt="getIconText(index)"
                      :title="getIconText(index)"
              >
            </a>
          </div>

          <div class="_lang">
            <ul class="_icon">
              <li><a href="javascript:void(0)" onclick="$('#langMenu').toggle()" title="語言"><em title="語言" class="far fa-globe"></em></a>
                <ul id="langMenu">
                  <li><a class="_en-hk" href="javascript:_changeLang('en-hk')" tabindex="0" role="button">Eng</a></li>
                  <li><a class="_zh-cn" href="javascript:_changeLang('zh-cn')" tabindex="0" role="button">简体</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="_header">
        <div class="logo">
          <a href="javascript:homeMethod()" title="反詐騙協調中心">
            <img src="/image/logo.png" alt="反詐騙協調中心" />
          </a>
        </div>
        <div class="_title">反詐騙協調中心</div>
        <div class="_search-bar" role="search">
          <label for="searchWebsiteAtHeader">搜索網站</label>
          <input class="_input-text" type="text" id="searchWebsiteAtHeader" name="searchText" />
          <button class="_button" title="搜索網站"><em class="far fa-search"></em></button>
        </div>
      </div>
    </div>

<div class="_content-container" role="main">
  <div class="_content">
<div class="_main-menu" id="main-menu">
    <div class="_header">
        <label class="icon-menu" tabindex="0" role="button"><em class="far fa-bars"></em>Expand Mobile Menu</label>
        <label class="icon-close" tabindex="0" role="button"><em class="far fa-times"></em>Collapse Mobile Menu</label>
    </div>
    <div class="_content" role="navigaton">
        <a href="#openMobileMenu" id="closeMobileMenu" class="mobile-menu-trigger-label" onclick="$('#mobile-menu-trigger').click();" title="open or close mobile menu"></a>
        <ul>
                        <li id="menu-home">
                    <a href="javascript:_menuAction('home')" id="homeLink" tabindex="0" role="button">主頁</a>
            </li>
            <li id="menu-alerts">
                    <a href="javascript:_menuAction('alerts')"  tabindex="0" role="button">最新騙案警示<span> &#x1F6A8;</span></a>
            </li>
            <li id="menu-虛假投資平台名單-(chinese-version-only)">
                    <a href="javascript:_menuAction('虛假投資平台名單-(chinese-version-only)')"  tabindex="0" role="button">虛假投資平台名單</a>
            </li>
            <li id="menu-contact-us">
                    <a href="javascript:_menuAction('contact-us')"  tabindex="0" role="button">「防騙易18222」</a>
            </li>
            <li id="menu-operation-frontier" class="_has-child" >
                    <a href="javascript:void(0)">反詐聯合行動 FRONTIER +</a>
                    <ul>
                            <li id="menu--anti-scam-operation-with-nine-countries-and-regions-under-frontier">
                                <a href="javascript:_menuAction('-anti-scam-operation-with-nine-countries-and-regions-under-frontier')" tabindex="0" role="button"> 2026 FRONTIER +</a>
                            </li>
                            <li id="menu-frontier-achieves-significant-results-in-first-joint-operation-">
                                <a href="javascript:_menuAction('frontier-achieves-significant-results-in-first-joint-operation-')" tabindex="0" role="button"> 2025 FRONTIER +</a>
                            </li>
                    </ul>
            </li>
            <li id="menu-anti-scam-event" class="_has-child" >
                    <a href="javascript:void(0)">防騙活動</a>
                    <ul>
                            <li id="menu-quby-anti-scam-campaign">
                                <a href="javascript:_menuAction('quby-anti-scam-campaign')" tabindex="0" role="button">乖巧寶寶反詐推廣</a>
                            </li>
                            <li id="menu--introduction-&-the-little-grape-&-quby-themed-promotional-truck">
                                <a href="javascript:_menuAction('-introduction-&-the-little-grape-&-quby-themed-promotional-truck')" tabindex="0" role="button">提子乖巧寶寶主題宣傳車</a>
                            </li>
                            <li id="menu-hkpf-holds-2026-bank-staff-recognition-ceremony-to-commend-banking-industry-for-their-contributions-to-scam-prevention">
                                <a href="javascript:_menuAction('hkpf-holds-2026-bank-staff-recognition-ceremony-to-commend-banking-industry-for-their-contributions-to-scam-prevention')" tabindex="0" role="button">2026傑出銀行員工嘉許典禮</a>
                            </li>
                            <li id="menu-hkpf-holds-recognition-ceremony-to-commend-banks-and-their-staff-for-making-joint-efforts-to-combat-scams">
                                <a href="javascript:_menuAction('hkpf-holds-recognition-ceremony-to-commend-banks-and-their-staff-for-making-joint-efforts-to-combat-scams')" tabindex="0" role="button">2025傑出銀行員工嘉許典禮</a>
                            </li>
                            <li id="menu-adcc-holds-healthy-senior-anti-scam-month">
                                <a href="javascript:_menuAction('adcc-holds-healthy-senior-anti-scam-month')" tabindex="0" role="button">樂齡反詐月</a>
                            </li>
                            <li id="menu-event">
                                <a href="javascript:_menuAction('event')" tabindex="0" role="button">最新活動時間表</a>
                            </li>
                    </ul>
            </li>
            <li id="menu--youth-no-scam-protection-hub" class="_has-child" >
                    <a href="javascript:void(0)">「青年防騙守護平台」</a>
                    <ul>
                            <li id="menu-youth-no-scam-protection-hub">
                                <a href="javascript:_menuAction('youth-no-scam-protection-hub')" tabindex="0" role="button"> 「青年防騙守護平台」</a>
                            </li>
                            <li id="menu-opening-ceremony">
                                <a href="javascript:_menuAction('opening-ceremony')" tabindex="0" role="button">青年防詐騙論壇暨平台開幕禮</a>
                            </li>
                    </ul>
            </li>
            <li id="menu-university-anti-scam-" class="_has-child" >
                    <a href="javascript:void(0)">校園防騙</a>
                    <ul>
                            <li id="menu-university-anti-scam-series">
                                <a href="javascript:_menuAction('university-anti-scam-series')" tabindex="0" role="button">大學防騙系列</a>
                            </li>
                            <li id="menu-anti-scam-online-learning-package">
                                <a href="javascript:_menuAction('anti-scam-online-learning-package')" tabindex="0" role="button">反詐騙網上學習套件</a>
                            </li>
                            <li id="menu-mainland-hong-kong-joint-anti-scam-initiative">
                                <a href="javascript:_menuAction('mainland-hong-kong-joint-anti-scam-initiative')" tabindex="0" role="button">兩地攜手 天下無詐</a>
                            </li>
                            <li id="menu-騙洞大逃脫-(chinese-version-only)">
                                <a href="javascript:_menuAction('騙洞大逃脫-(chinese-version-only)')" tabindex="0" role="button">致留學生家長的一封信</a>
                            </li>
                    </ul>
            </li>
            <li id="menu-promotional-materials" class="_has-child" >
                    <a href="javascript:void(0)">宣傳素材</a>
                    <ul>
                            <li id="menu-videos">
                                <a href="javascript:_menuAction('videos')" tabindex="0" role="button">防騙短片 <span> &#x1F3A5;</span></a>
                            </li>
                            <li id="menu-《全城防伏手冊》-(chinese-version-only)">
                                <a href="javascript:_menuAction('《全城防伏手冊》-(chinese-version-only)')" tabindex="0" role="button">《全城防伏手册》</a>
                            </li>
                            <li id="menu-anti-scam-publicity-material">
                                <a href="javascript:_menuAction('anti-scam-publicity-material')" tabindex="0" role="button">海報及小冊子</a>
                            </li>
                            <li id="menu-adcc聯乘乖巧寶寶表情包(chinese-version-only)">
                                <a href="javascript:_menuAction('adcc聯乘乖巧寶寶表情包(chinese-version-only)')" tabindex="0" role="button">ADCC聯乘乖巧寶寶貼圖集</a>
                            </li>
                    </ul>
            </li>
            <li id="menu-news-and-statistics" class="_has-child" >
                    <a href="javascript:void(0)">新聞、統計數字及訪問</a>
                    <ul>
                            <li id="menu-related-news">
                                <a href="javascript:_menuAction('related-news')" tabindex="0" role="button">相關新聞</a>
                            </li>
                            <li id="menu-interview">
                                <a href="javascript:_menuAction('interview')" tabindex="0" role="button">訪問</a>
                            </li>
                            <li id="menu-statistic">
                                <a href="javascript:_menuAction('statistic')" tabindex="0" role="button">騙案統計數字</a>
                            </li>
                    </ul>
            </li>
            <li id="menu-about--us" class="_has-child" >
                    <a href="javascript:void(0)">關於我們</a>
                    <ul>
                            <li id="menu-about-us">
                                <a href="javascript:_menuAction('about-us')" tabindex="0" role="button">反詐騙協調中心</a>
                            </li>
                            <li id="menu-anti-deception-coordination-centre-to-enhance-scam-intervention-through-sms-communications">
                                <a href="javascript:_menuAction('anti-deception-coordination-centre-to-enhance-scam-intervention-through-sms-communications')" tabindex="0" role="button">「騙案預警」計劃</a>
                            </li>
                            <li id="menu-useful-links">
                                <a href="javascript:_menuAction('useful-links')" tabindex="0" role="button">社交平台及有用連結</a>
                            </li>
                            <li id="menu-subscribe">
                                <a href="javascript:_menuAction('subscribe')" tabindex="0" role="button">訂閱 <span> &#x1F514;</span></a>
                            </li>
                    </ul>
            </li>

        </ul>
    </div>

    <div class="_content-view">
      <a href="javascript:void(0)" style="display: block" tabindex="0" role="button" class="_page-title _back-title" onclick="javascript:_menuAction('alerts')">
        <em class="fa fa-reply-all _back-button"></em>
        最新騙案警示
      </a>
      <h1 class="_content-title">
        <span style="margin-right: 10px;">警惕「猜猜我是誰」騙案：無論幾熟識 提起轉帳要警惕！</span>
        <span style="color: black;font-size:20px;display: inline-block;"></span>
        <div class="_date">
          <em class="far fa-calendar-alt _icon"></em>
          2026-07-13
        </div>
      </h1>
      <div class="fr-view">
  <img src="image/2026-07-14/FROALA_123012730682.jpg" class="fr-fic fr-dii" alt="圖表一：來電 要求 轉帳 說 自己 熟人 一樣 小心 要 騙徒 假扮 親友 職員 改變 聲音 會 轉賬 要 冷靜 核實 要 致電 反詐騙 1 8 2 2 2">
  <br>
  <img src="image/2026-07-14/FROALA_275979215198.jpg" class="fr-fic fr-dii" alt="圖表二：常見 手法 騙徒 假扮 子女 或 親友 索取 錢 假扮 客服 欠 錢 命令 去 ATM 轉賬 假扮 上司 謊稱 公司 資金周轉 承諾 還錢 會">
  <p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><br></p>
  <p id="isPasted" style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; color: black; font-size: 18px;">警方近期接獲多宗「猜猜我是誰」騙案，呈上升趨勢，長者受害人損失由數千元至數萬元不等。不少長者因較少接觸防騙資訊，僅憑聲線相似便相信對方。</span></p>
  <ol start="1" style="margin-bottom:0cm;" type="1">
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">反詐騙協調中心（ADCC）提醒市民：遇突發轉帳要求，無論是否熟識對方、聲線如何相似，都要進一步驗證身份，例如親自致電確認或會面。</li>
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">騙徒常先搜集你的背景及家人資料，再冒充熟人，令手法更逼真。</li>
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">若來電者要求轉帳至平日不熟悉的銀行戶口，必須立即提高警惕。</li>
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">針對沒有電子銀行的長者，騙徒可能建議由「朋友」或「律師」代收現金，切勿答應。</li>
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">任何涉及金錢的要求，都要冷靜求證，絕不匆忙轉帳。</li>
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">多關心身邊長者，定期分享防騙資訊。</li>
   <li style="margin: 0cm 0cm 8pt; font-size: 18px; font-family: PMingLiU, sans-serif; color: black;">若有懷疑，立即致電「防騙易18222」熱線查詢。</li>
  </ol>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; color: red; font-size: 24px;"><strong>三大騙徒手法：</strong></span></p>
  <p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（一）劇本型</span></p>
  <ol style="margin-left:8px;">
   <li style="font-size: 18px; font-family: PMingLiU, sans-serif; color: rgb(0, 0, 0);">非法取得市民資料後，度身訂造冒充身份、轉帳藉口，甚至模仿聲線</li>
   <li style="font-size: 18px; font-family: PMingLiU, sans-serif; color: rgb(0, 0, 0);">致電／用聊天軟件接觸受害人，提出轉帳請求</li>
  </ol>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（二）騎劫型</span></p>
  <ol style="margin-left:8px;">
   <li style="font-size: 18px; font-family: PMingLiU, sans-serif; color: rgb(0, 0, 0);">騎劫受害人聊天軟件程式，透過翻閱歷史對話掌握聯絡人身份、人際關係</li>
   <li style="font-size: 18px; font-family: PMingLiU, sans-serif; color: rgb(0, 0, 0);">在聊天軟件向受害人的聯絡人提出轉帳要求</li>
  </ol>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（三）白撞型</span></p>
  <ol style="margin-left:8px;">
   <li style="font-size: 18px; font-family: PMingLiU, sans-serif; color: rgb(0, 0, 0);">打電話與受害人閒話家常，但不說出自己是誰，誘導受害人猜測身份</li>
   <li style="font-size: 18px; font-family: PMingLiU, sans-serif; color: rgb(0, 0, 0);">一旦受害人猜測，騙徒便會馬上冒認</li>
  </ol>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; color: red; font-size: 24px;"><strong>近期個案：</strong></span></p>
  <p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（一）62歲退休人士接獲陌生來電，騙徒自稱「律師行職員」，指事主丈夫去年曾發生交通意外（意外為真實發生，騙徒已非法取得事主個人資料），現正處理索償事宜，要求先支付2萬元「手續費」。事主未經查證便轉帳，結果受騙。</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（二）86歲長者接獲陌生來電，騙徒自稱是「女兒」，指最近換了電話號碼。因聲線相似，事主未起疑心。翌日，騙徒再度致電，稱手頭不夠錢用，要求事主拿現金到指定屋苑交收。事主如約前往，見到一名中年男子自稱代「女兒」收錢，事主致電騙徒確認後便將現金交出，結果受騙，損失約3.5萬元。</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（三）69歲工程師接獲「堂妹」WhatsApp訊息，指急需1.2萬元，並承諾後日歸還。事主因工作忙碌，未經深究便轉帳至陌生銀行戶口。其後，騙徒再要求轉帳多8萬元，事主起疑，嘗試以WhatsApp致電堂妹但無人接聽。騙徒隨即發送一段錄音，再次催促轉帳。幸好事主提高警覺，改用手機號碼聯絡堂妹，才揭發WhatsApp帳戶已被盜用。</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（四）騙徒模仿聲線致電83歲退休人士，自稱是其「姪仔」，指被警方拘留，急需1萬元保釋金。事主因聲線相似而信以為真，按指示到便利店掃描支付寶二維碼轉帳。當日事主致電姪女，才揭發是騙案，損失約6,000元。</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:16px;font-family:&quot;Aptos&quot;,sans-serif;"><span style="font-family: PMingLiU, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">（五）騙徒假扮電訊公司客服致電66歲餐廳店員，訛稱事主欠費250元，若不即時補交便要罰款5,000元。事主以為真有欠費，按騙徒指示到銀行櫃員機轉帳，期間一直保持通話。事主轉帳1萬元後，騙徒再要求轉帳5萬元，事主起疑，立即報警求助。</span></p>
  <br>
 </div>

    </div>
  </div>
</div>

<div class="_footer-container">
  <div class="_footer">
    <div class="_links">
      <ul>
                <li><a href="javascript:_menuAction('important-notices')">Important Notices</a></li>
        <li><a href="javascript:_menuAction('privacy-policy')">Privacy Policy</a></li>
        <li><a href="javascript:_menuAction('sitemap')">Sitemap</a></li>
        <li><a href="javascript:_menuAction('useful-links')">Useful Links</a></li>
    </ul>
  </div>
  <div class="_icons-cont">
    <div class="_subscribe">
      <button class="_button" onclick="_mAction('subscribe')" title="Subscribe">
        <img src="/image/subscribe.png">
      </button>
    </div>
    <div class="_icons">
      <ul>
        <li v-for="item in Icons" :key="item.name">
          <a :href="item.publishUrl" target="_blank" :title="item.name">
            <img :src=" '/'+ languageType+'/image/'+item.fileName" :alt="item.name" />
          </a>
        </li>
      </ul>
    </div>
    <div class="_last-update">Last Revision: Jul 2026</div>
  </div>
  <div class="_web-access">
    <a class="_wcag" href="http://www.w3.org/WAI/WCAG2AA-Conformance"
       title="Level Double-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0" target="_blank"><img
            src="/image/wcag2.1AA-v.png"
            alt="Level Double-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0"></a>
    <a class="_gold-logo"
       href="https://www.ogcio.gov.hk/en/our_work/community/web_mobileapp_accessibility/nurturing_expertise/recognition_scheme/index.html"
       title="Web Accessibility Recognition Scheme" target="_blank"><img src="/image/gold_logo.png"
                                                                         alt="Web Accessibility Recognition Scheme"></a>
  </div>
</div>
</div>
</div>
